<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/loja.css">
</head>
<body>
    <nav class="headerHome">
        <div >
            <label class="logo">Cars Center</label>
        </div>
        <div class="buttonFloat">
            <a  style="margin-right: 30px;"  href="/admin/loja"><button class="storeButton">LOJA</button></a>
            <a  style="margin-right: 30px;"  href="/admin/aluguel"><button class="myRentButton" href="#">ALUGUEIS</button></a>
        </div>
    </nav>
    <% for (let i = 0; i < dbcar.length; i++){ %> 
    
        <div class="orderElements">
            <div class="limitCard">
                <img class="limitImgCar" src="<%=dbcar[i].enderecoimg%>">
            </div>
            <div class="limitCard">
                <div class="additionalInfoCarName">
                    <h1 class="carNameBar"><%=dbcar[i].nome%> </h1>
                    <div class="additionalInfoCar">
                        <table>
                            <tr>
                                <td>Marca: </td>
                                <td><%=dbcar[i].marca%> </td>
                            </tr>
                            <tr>
                                <td>Cor: </td>
                                <td><%=dbcar[i].cor%></td>
                            </tr>
                            <tr>
                                <td>Preço: </td>
                                <td>R$ <%=dbcar[i].preco%>,00</td>
                            </tr>
                            <tr>
                                <td>Diária: </td>
                                <td>R$ <%=dbcar[i].diaria%>,00</td>
                            </tr>
                        </table>
                    </div>
                    <% if(dbcar[i].status == 1){ %> 
                        <div>
                            <button class="availableTodayMsg"><a href="#" class="confirmLinkConfirmReserva">ALUGAR</a></button>
                        </div>
                    <% }else{ %>
                        <div>
                            <button class="availableTodayMsg"><a href="#" class="confirmLinkConfirmReserva">ALUGAR</a></button>
                        </div>
                        <label class="additionalButtonMsg"><%=dbcar[i].datadisponivel%></label>
                    <% } %>
                    <div>
                        <button class="availableTodayMsg"><a href="/loja/alugar" class="confirmLinkConfirmReserva">EDITAR</a></button>
                        <button class="availableTodayMsg"><a href="/loja/alugar" class="confirmLinkConfirmReserva">ALUGAR</a></button>
                    </div>
                </div>
            </div>
        </div>
    <% } %> 
</body> 