<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <div class="headerHome">
        <div >
            <label class="logo">Cars Center</label>
        </div>
        <div class="buttonFloat">
            <button class="buttonRegister"><a style="margin-right: 30px;" href="/signup" class="linksHome">Cadastre-se</a></button>
            <button class = "buttonLogin"><a href="/signin" class="linksHome">Login</a></button>
        </div>
    </div>

    <% for (let i = 0; i < dbcar.length; i++){ %> 
    
        <div class="orderElements">
            <div class="limitCard">
                <img class="limitImgCar" src="<%=dbcar[i].enderecoimg%>">
            </div>
            <div class="limitCard">
                <div class="additionalInfoCarName">
                    <h1 class="carNameBar"><%=dbcar[i].nome%> </h1>
                    <div class="additionalInfoCar">
                        <table>
                            <tr>
                                <td>Marca: </td>
                                <td><%=dbcar[i].marca%> </td>
                            </tr>
                            <tr>
                                <td>Cor: </td>
                                <td><%=dbcar[i].cor%></td>
                            </tr>
                            <tr>
                                <td>Preço: </td>
                                <td><%=dbcar[i].preco%></td>
                            </tr>
                            <tr>
                                <td>Diária: </td>
                                <td><%=dbcar[i].diaria%></td>
                            </tr>
                        </table>
                    </div>
                    <% if(dbcar[i].status == 1){ %> 
                    <div>
                        <button class="availableTodayMsg">Disponível hoje</button>
                    </div>
                    <% }else{ %>
                    <div>
                        <button class="unavailableTodayMsg">Indisponível hoje</button>
                    </div>
                    <label class="additionalButtonMsg"><%=dbcar[i].datadisponivel%></label>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>  
</body> 