<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <div class="headerHome">
        <div >
            <label class="logo">Cars Center</label>
        </div>
        <div class="buttonFloat">
            <button class="buttonRegister"><a style="margin-right: 30px;" href="/signup" class="linksHome">Cadastre-se</a></button>
            <button class = "buttonLogin"><a href="/signin" class="linksHome">Login</a></button>
        </div>
    </div>
    <% foreach(car in dbcar){ %> 
    <div class="orderElements">
        <div class="limitCard">
            <img class="limitImgCar" src="<%=car.enderecoimg%>">
        </div>
        <div class="limitCard">
            <div class="additionalInfoCarName">
                <h1 class="carNameBar"><%=car.info.nome%> </h1>
                <div class="additionalInfoCar">
                    <table>
                        <tr>
                            <td>Marca: </td>
                            <td><%=car.info.marca%> </td>
                        </tr>
                        <tr>
                            <td>Cor: </td>
                            <td><%=car.info.color%></td>
                        </tr>
                        <tr>
                            <td>Preço: </td>
                            <td><%=car.info.preco%></td>
                        </tr>
                        <tr>
                            <td>Diária: </td>
                            <td><%=car.info.diaria%></td>
                        </tr>
                    </table>
                </div>
                <% if(car.status == 1){ %> 
                <div>
                    <button class="availableTodayMsg">Disponível hoje</button>
                </div>
                <% }else{ %>
                <div>
                    <button class="availableTodayMsg">Indisponível hoje</button>
                </div>
                <label class="additionalButtonMsg"><%=car.datadisponivel%></label>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>    
</body> 